<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
      >

    <bean id="cartService" class="com.nbf.service.CartService" />
    <bean id="redisManager" class="com.nbf.service.impl.RedisManager"/>
    <bean id="dynamicLoadSpring" class="com.nbf.load.DynamicLoadSpring"/>

    <import resource="logaop.xml" />

</beans>